<!DOCTYPE html>
<!-- simple web page -->
<html>
<head>
    <title>Simple Web Page</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>This is a simple web page.</p>
    <!-- ejs snippet -->
    <h2>And This Is Data: <%= data %></h2>
</body>
</html>